html {
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: black;
}
p {
    font-size: 20px;
    color: rgb(245, 187, 250);
}
h1 {
    color: lightseagreen;
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
    margin: 0px;
    padding: 20px 0;
}
h2 {
    font-size: 30px;
    color: lightseagreen;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
body {
    width: 1280px;
    margin: 40px auto;
    background-color: black;
    padding: 0 px 0px 0px;
    border: 10px solid black;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  a {
      color: rgb(245, 187, 250);
      font-size: 20px;
  }